channels[daphne]
channels-redis
coloredlogs
django<7
django-stubs
inotify
ipython
lxml
lxml-stubs
markdown
mypy
openpyxl
psutil
psycopg2-binary
pyyaml
redis
requests
tqdm
types-requests
ujson
watchdog
xlrd

###
ical
