<style>
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 12px;
        scroll-behavior: smooth;
        scrollbar-gutter: stable;
    }

    body {
        font-family: var(--font-sans);
        background-color: var(--stone-11);
        min-height: 100dvh;

        #container--body {
            margin-inline: auto;
            background-color: var(--stone-1);
            min-height: 100dvh;
            padding: 0;
        }
    }

    #header--title {
        font-weight: 500;
        font-size: 1.4rem;
        margin-left: 1em;
    }

    a {
        text-decoration: none;
    }

    .button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .container--header {
        background-image: url('/static/img/agojin3.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0.25em top;
        padding-left: 15em;
    }

    .display-grid {
        display: grid;
        grid-template-columns: repeat(var(--columns, 1), var(--size, 1fr));
    }

    .fit-content {
        width: fit-content;
    }

    .form-label {
        margin-bottom: 0.25em;
    }

    .fs-smaller {
        font-size: smaller;
    }

    .fw-medium {
        font-weight: 600;
    }

    .grid-column-1 {
        grid-column: 1;
    }

    .grid-column-all {
        grid-column: 1 / -1;
    }

    .htmx-indicator {
        display: none;
    }

    .htmx-request .htmx-indicator {
        display: inline-block;
    }

    .htmx-request.htmx-indicator {
        display: inline-block;
    }

    .modal-header {
        background-color: var(--bs-primary);
        color: white;
    }

    .overflow-x-clip {
        overflow-x: clip;
    }

    .w-max-content {
        width: max-content;
    }


    input:not([type=submit]),
    textarea,
    select {
        padding: 0.5em 1em;
        border: solid thin var(--gray-4);
        border-radius: 0.5em;
        background-color: #efefef !important;
    }

    input[type=checkbox],
    input[type=radio] {
        vertical-align: middle;
        margin-right: 0.5em;
    }

    label:has(input[type=checkbox]:invalid),
    label:has(input[type=radio]:invalid) {
        color: red;
    }

    label:has(+input[required]),
    label:has(+textarea[required]),
    label:has(+select[required]),
    .input-label--required {
        font-weight: bold;

        &::after {
            content: "*";
            margin-left: 0.25em;
            font-weight: 100;
        }
    }

    label:has(+input:invalid),
    label:has(+textarea:invalid),
    label:has(+select:invalid),
    label:has(+div input[type=radio]:invalid) {
        color: var(--red-8);
    }
</style>

{% include "./icons.html" %}