<section class="container d-flex border-bottom mt-3">

    {% if active_tab %}
    {% include "./tabs.html" %}
    {% endif %}

    <span class="ms-auto me-3 pb-2">


        {% if user.is_authenticated %}

        {% if show_create_course_button %}

        {% if user.instructor or user.is_superuser %}
        <a href="new/" type="button" class="btn btn-outline-primary btn-sm rounded-pill px-3 me-3">
            New Course
        </a>
        {% endif %}

        {% endif %}

        <form id="form--logout" class="d-inline-block" method="post" action="/accounts/logout/?next=/accounts/login/">
            {% csrf_token %}

            <div class="dropdown">
                <span class="dropdown-toggle d-inline-block" role="button" data-bs-toggle="dropdown">
                    {{ user.get_full_name | default:user.username }}
                </span>

                <ul class="dropdown-menu">
                    <li><button type="submit" class="dropdown-item" href="#">Sign out</button></li>
                </ul>
            </div>
        </form>

        {% else %}

        <a href="/create-account/" type="button" class="btn btn-outline-primary rounded-pill">
            Create account
        </a>

        <a href="/accounts/login/?next=/" type="button" class="btn btn-outline-primary rounded-pill ms-2">
            Sign in
        </a>

        {% endif %}

    </span>
</section>