<style>
    .nav-link {
        color: black;
        padding-top: 0;

        &.active {
            font-weight: 500;
            color: var(--bs-primary);
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.6em;
            text-decoration-color: var(--bs-primary);
        }
    }
</style>


<ul class="nav gap-5">

    <!-- noformat -->
    {% for item in tabs.values %}

        {% if item.show %}

        <li class="nav-item">
            <span
                class="nav-link {% if item.id == active_tab %} active {% endif %}"
                role="button" onclick="onClickTab('{{ item.id }}')"
                _="on click take .active from .nav-link"
                hx-get="?htmx={{ item.id }}"
                {% if item.id == active_tab %} hx-trigger="load, click" {% endif %}
                >{{ item.label }}
            </span>
        </li>

        {% endif %}

    {% endfor %}
    <!-- noformat -->

    <script>
        function onClickTab(tab) {
            const url = new URL(location)
            url.searchParams.set("tab", tab)
            window.history.pushState({}, "", url)
        }
    </script>

</ul>