<div class="dash-section">
    <div class="section-header">
        <span class="section-title">Enrolled Students</span>
        <a href="#" class="section-action">Export List</a>
    </div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Course</th>
                <th>Enrolled</th>
                <th>Status</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>

            {% for item in course_class_students %}

            <tr>
                <td class="td-name">{{ item.student.user.get_full_name }}<span>{{ item.student.user.email }}</span></td>
                <td>{{ item.course_class.course.name }}</td>
                <td>{{ item.created | date:'d b Y' }}</td>
                <td><span class="badge badge-green">{{ item.status }}</span></td>
                <td>${{ item.course_class.get_course_fee }}</td>
            </tr>

            {% empty %}

            <tr>
                <td>Nil</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>