<div class="dash-section">
    <div class="section-header">
        <span class="section-title">Manage Courses</span>


        {% if show_action %}

        <a class="section-action" hx-get="?htmx=manage-courses" hx-target=".dash-main"
            _="on click remove .active from .snav-item add .active to #snav--courses">
            View All Courses
        </a>

        {% else %}

        <a href="/course/new/" class="section-action">+ New Course</a>

        {% endif %}

    </div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Start Date</th>
                <th>Enrolled</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for item in course_classes %}

            <tr>
                <td class="td-name">
                    {{ item.course.name }}
                    <span>
                        {{ item.course.chinese_name }} ·
                        {{ item.course.facility }}
                    </span>
                </td>
                <td>{{ item.start_date | date:'d b Y' }}</td>
                <td>{{ item.students.count }} / {{ item.max_students }}</td>
                <td><span class="badge badge-green">{{ item.status }}</span></td>
                <td>
                    <a href="/course/{{ item.course_id }}/edit/" class="link--course__edit">Edit</a>
                    <a href="/course/{{ item.course_id }}/" class="link--course__view">View</a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td>Nil</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>