<!-- Stats -->
<div class="dash-section" hx-get="?htmx=stats&a=1" hx-trigger="load"></div>

<!-- Revenue -->
<div class="dash-section" hx-get="?htmx=revenue&a=1" hx-trigger="load"></div>

<!-- Enrolled students -->
<div class="dash-section" hx-get="?htmx=enrolled-students&c=5&a=1" hx-trigger="load"></div>

<!-- Schedule -->
<div class="dash-section" hx-get="?htmx=schedule&a=1" hx-trigger="load"></div>

<!-- Manage courses -->
<div class="dash-section" hx-get="?htmx=manage-courses&c=5&a=1" hx-trigger="load"></div>