<div class="dash-section">
    <div class="section-header">

        <span class="section-title">
            {% if show_action %}
            {{ today | date:'F Y' }}
            {% endif %}
            Schedule
        </span>

        {% if show_action %}
        <a class="section-action" hx-get="?htmx=schedule&st=1" hx-target=".dash-main"
            _="on click remove .active from .snav-item add .active to #snav--schedule">
            Full Calendar
        </a>

        {% endif %}

    </div>

    <div id="container--calendar">
        {% include "./calendar.html" %}
    </div>

</div>