{% load extra_tags %}

<style>
    #courses-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 60ch);
        gap: 2em;
        justify-content: center;

        margin-bottom: 3em;
        padding-block: 1.5em 3em;

        .course-card {
            display: grid;
            grid-template-rows: 1fr auto;
            padding: 1em 2em;
            padding-bottom: 0.5em;
            border: solid thin var(--stone-4);
            border-radius: 1em;
            box-shadow: 5px 5px 5px var(--stone-3);
            background-color: white;
            cursor: pointer;

            &:hover #button--details {
                background-color: var(--bs-secondary);
                color: white;
            }

            .container--course-card-title {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 2em;

                .course-card-title {
                    font-weight: 600;
                }

                .course--fee {
                    text-align: end;
                    font-size: 1.5em;
                }
            }

            .course-card-text * {
                font-size: 1.15em;
                line-height: 1.5em;
                color: var(--stone-10);
            }

            .container--footer__class-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                font-size: 1.1em;

                .container--footer__class-info--course_type {
                    text-align: end;
                }
            }

            .button--footer {
                border-radius: 100em;
                padding-inline: 1.5em;
            }
        }

        .image--course {
            object-fit: fill;
            height: 200px;
        }
    }
</style>


<div class="container">

    <div class="position-relative pt-3">
        <h4 class="text-center">Martial Arts Courses</h4>
    </div>


    {% include "./course_filters.html" %}


    <div id="courses-container" class="container">

        {% for item in courses %}

        <div class="course-card" _="on click go to url '/course/{{ item.id }}/'">

            <div class="course-card-body">
                <div class="container--course-card-title">

                    <h4 class="course-card-title">
                        <div>{{ item.name }}</div>
                        <div class="mt-2 mb-4">{{ item.chinese_name }}</div>
                    </h4>

                    <div>
                        <div class="course--fee">${{ item.next_class.course_fee | default:' N/A' }}</div>
                        <div class="course--start-date">{{ item.next_class.start_date | date:'d M Y' }}</div>
                    </div>
                </div>

                {% if item.small_image %}
                <div><img class="image--course w-100" src="{{ item.small_image.url }}" alt="{{ item.name }}" /></div>
                {% elif item.image %}
                <div><img class="image--course w-100" src="{{ item.image.url }}" alt="{{ item.name }}" /></div>
                {% endif %}

                <div class="course-card-text mt-3">
                    <!-- noformat -->
                    {% if item.short_description %}
                        {{ item.short_description | from_markdown }}
                    {% else %}
                        {{ item.description | from_markdown }}
                    <!-- noformat -->
                    {% endif %}
                </div>
            </div>

            <div class="container--footer">

                <div class="container--footer__class-info">

                    <div class="container--footer__class-info--location">
                        <div>{{ item.facility.name | default:'Location TBD'}}</div>
                        <div>{{ item.facility.country }}</div>
                    </div>

                    <div class="container--footer__class-info--course_type">
                        <div>{{ item.next_class.class_type }}</div>
                        <div>{{ item.next_class.class_duration | default:'Duration TBD' }}</div>
                    </div>

                </div>

                <div class="d-flex justify-content-around align-items-center py-3">
                    <a href="/course/{{ item.id }}/" id="button--details"
                        class="btn btn-outline-secondary button--footer">Details</a>

                    {% if item.upcoming_classes.count %}
                    <a href="/course/{{ item.id }}/enroll/" class="btn btn-primary button--footer">Enroll</a>
                    {% else %}
                    <a href="/course/{{ item.id }}/enroll/" title="No classes available"
                        class="btn btn-outline-primary disabled button--footer">Enroll</a>
                    {% endif %}
                </div>

            </div>

        </div>

        {% empty %}

        <h5 class="text-center fw-normal mt-4">No courses found</h5>

        {%  endfor %}

    </div>

</div>