<style>
    #course-filters-container {
        margin-top: 1.5em;
        padding-left: 2em;

        select {
            width: max-content;
        }

        #container--filter-items {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 1em;
            justify-content: space-around;
        }

        .has-filter {
            background-color: white !important;
            border-color: var(--bs-primary);
            border-width: 2px;
        }
    }

    @media (max-width: 1000px) {
        #container--filter-items {
            grid-template-columns: repeat(2, auto) !important;
        }
    }
</style>


<div id="course-filters-container" class="{% if has_filters %} pe-3 {% endif %}">
    <form id="form--course-filters" onchange="this.submit()">
        <input type="hidden" name="tab" value="courses" />

        <div id="container--filter-items">

            <select class="form-select {% if filters.filter_course_group %} has-filter {% endif %}"
                name="filter_course_group">
                <option value="">
                    {% if filters.filter_course_group %} - Clear filter - {% else %} Filter by course group {% endif %}
                </option>
                {% for item in course_groups %}
                <option value="{{ item.course_group_id }}" {% if item.course_group_id == filters.filter_course_group %}
                    selected {% endif %}>
                    {{ item.course_group.name | default:'- ungrouped -' }}</option>
                {% endfor %}
            </select>

            <select class="form-select  {% if filters.filter_instructor %} has-filter {% endif %}"
                name="filter_instructor">
                <option value="">
                    {% if filters.filter_instructor %} - Clear filter - {% else %} Filter by instructor {% endif %}
                </option>
                {% for item in instructors %}
                <option value="{{ item.id }}" {% if item.id == filters.filter_instructor %} selected {% endif %}>
                    {{ item.user.get_full_name }}</option>
                {% endfor %}
            </select>

            <select class="form-select {% if filters.filter_facility %} has-filter {% endif %}" name="filter_facility">
                <option value="">
                    {% if filters.filter_facility %} - Clear filter - {% else %} Filter by facility {% endif %}
                </option>
                {% for item in facilities %}
                <option value="{{ item.id }}" {% if item.id == filters.filter_facility %} selected {% endif %}>
                    {{ item.name }}</option>
                {% endfor %}
            </select>

            <div class="text-nowrap {% if filters.filter_month %} has-filter {% endif %}">
                <input type="month" name="filter_month" value="{{ filters.filter_month }}" />
                {% if has_filters %}
                <a class="ms-4" href="?tab=courses" role="button">Clear filters</a>
                {% endif %}
            </div>

        </div>

    </form>
</div>
</div>


<script>
    function courseFiltersInit() {
        dateInputsInit();
    }
    document.addEventListener("DOMContentLoaded", courseFiltersInit());
</script>