{% extends "taiping//base.html" %}


{% block content %}
<style>
    #page-content {
        max-width: 75ch;
        min-height: 100vh;
        margin-inline: auto;
        padding: 2em 3em;
        line-height: 1.6em;
        color: var(--stone-10);
        background-color: white;
    }
</style>


<div class="container" hx-swap="none">

    <div id="page-content" class="fs-5">

        <section>
            {% include "./description.html" %}
        </section>

        <section id="course-classes-container" class="mt-5">
            <h5 class="fw-bold">Classes</h5>
            <hr />

            {% for course_class in course.upcoming_classes %}
            {% include "./course_class.html" %}
            {% empty %}
            <div>No classes available yet.</div>
            <div class="mt-5">Come back when the sun rises from the west.</div>
            {% endfor %}

        </section>

    </div>

</div>
{% endblock content %}