<script>
    function checkVerificationCode(input) {
        if (input.value.trim().length != 4) { return }
        htmx.trigger(input, 'verify-code')
    }

    function invalidInputs(form) {
        form = form || document.querySelector('#form--student-details')
        const items = [...form.elements]
        const invalids = items
            .filter(item => !item.validity.valid)
            .map(item => item.name)
        console.log(invalids)
    }

    function onChangeEmail(input) {
        const button = document.querySelector('#button--send-verification-code')
        button.disabled = !input.validity.valid

        disableGetVerificationCodeButton(false)
        disableVerificationCodeInput(true)
    }

    function onChangeForm(form) {
        const items = [...form.elements]
        const isValid = items.every(item => item.validity.valid)
        document.querySelector('#button--submit').disabled = !isValid
    }

    function disableGetVerificationCodeButton(disabled) {
        const button = document.querySelector('#button--send-verification-code')
        button.disabled = disabled

        if (disabled) {
            button.classList.remove('btn-success')
            button.classList.add('btn-outline-secondary')
        } else {
            button.classList.remove('btn-outline-secondary')
            button.classList.add('btn-success')
        }
        return button
    }

    function disableVerificationCodeInput(disabled) {
        const input = document.querySelector('input[name=email_verification_code]')
        input.disabled = disabled
        return input
    }

    var AGOJIN_VERIFIED = false

</script>