{% load extra_tags %}

<div class="modal fade" id="modal-indemnity" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agojin Martial Arts Indemnity Waiver</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">{{ app_data.indemnity.data | from_markdown }}</div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="accept('indemnity', false)">Disagree</button>

                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    onclick="accept('indemnity', true)">
                    Agree
                </button>
            </div>

        </div>
    </div>
</div>