{% extends "taiping/base.html" %}

{% block header %}
{% endblock header %}


{% block content %}

{% include "./css.html" %}

{% include "./modal_terms_and_conditions.html" %}
{% include "./modal_indemnity.html" %}


<form id="form--user-details" method="post" enctype="multipart/form-data" onchange="onChangeForm(this)">

    {% csrf_token %}

    <div id="page-content" class="container" hx-swap="none">

        <h5 class="fw-bold mb-5">
            <img src="/static/img/agojin4.png" style="height: 2.5em;" alt="" />
            <span>Student Registration</span>
        </h5>

        {% if user.instructor %}
        <input type=" hidden" name="email" value="{{ user.email }}" />
        {% else %}
        {% include "./email_fields.html" %}
        {% endif %}

        <fieldset id="fieldset--user-details" {% if not user.instructor %} disabled {% endif %}>

            <div class="form-group {% if user.instructor %} pe-none {% endif %}">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" required
                    value="{{ user.first_name }}">
            </div>

            <div class="form-group {% if user.instructor %} pe-none {% endif %}">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Enter your last name" required
                    value="{{ user.last_name }}">
            </div>

            <div class="form-group">
                <label class="form-label">Alternative Name</label>
                <input type="text" class="form-control" name="alternative_name"
                    placeholder="Enter your alternative/Chinese name">
            </div>

            <div class="form-group">
                <label class="form-label">Date of Birth</label>
                <input type="date" class="form-control" name="date_of_birth" placeholder="Enter your date of birth"
                    required>
            </div>

            <div class="form-group">
                <label class="form-label input-label--required">Gender</label>
                <div>

                    {% for value, label in gender_options %}
                    <label class="form-check-inline">
                        <input type="radio" class="form-check-inline" name="gender" value="{{ value }}" required>
                        <span>{{ label }}</span>
                    </label>
                    {% endfor %}

                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Phone no.</label>
                <input type="text" class="form-control" name="phone" placeholder="Enter your phone number" required>
            </div>

            {% if not user.instructor %}
            <div class="form-group">
                <label class="form-label">Photo</label>
                <input type="file" class="form-control" name="photo" placeholder="Upload your photo" accept="image/*"
                    capture="user" required>
            </div>
            {% endif %}

            <div class="form-group">
                <label class="form-label">Years of Experience</label>
                <input type="number" class="form-control" min="0" value="0" name="experience_years" />
            </div>

            <div class="form-group">
                <label class="form-label">Styles trained</label>
                <textarea class="form-control" rows="3" name="styles_trained"
                    placeholder="Enter the styles you have trained in"></textarea>
            </div>

            <div class="form-group">
                <label class="form-label">Medical Conditions</label>
                <textarea class="form-control" rows="3" name="medical_conditions"
                    placeholder="Enter any medical conditions"></textarea>
            </div>

            <div class="form-group">
                <label class="form-label">Preferred languages</label>
                <textarea class="form-control" rows="3" name="preferred_languages"
                    placeholder="Enter the preferred languages"></textarea>
            </div>

            <div class="form-group">
                <label class="form-label">Emergency contact name</label>
                <input type="text" class="form-control" name="emergency_contact_name"
                    placeholder="Enter your emergency contact name" required>
            </div>

            <div class="form-group">
                <label class="form-label">Emergency contact phone no.</label>
                <input type="text" class="form-control" name="emergency_contact_phone"
                    placeholder="Enter your emergency contact's phone number" required>
            </div>

            <div class="agreement-container mt-4" data-bs-toggle="modal" data-bs-target="#modal-terms-and-conditions"
                role="button">
                <input type="checkbox" name="terms_and_conditions" class="pe-none" required />
                <span>Click here to read and agree to our terms and conditions.</span>
            </div>

            <div class="agreement-container mt-2" data-bs-toggle="modal" data-bs-target="#modal-indemnity"
                role="button">
                <input type="checkbox" name="indemnity" class="pe-none" required />
                <span>Click here to read and agree to our martial arts training indemnity.</span>
            </div>
            <div class="mt-2 mb-3 px-2">
                By agreeing to the above Terms & Conditions and Martial Arts Indemnity Waiver, I acknowledge
                the risks of training and release Agojin.com from liability for injuries, as detailed in the
                waiver.
            </div>

            <button id="button--submit" type="submit" class="btn btn-primary mt-4" disabled
                _="on click remove .d-none from .spinner">
                Create account
                <span id="spinner--submit" class="spinner spinner-border spinner-border-sm ms-2 d-none"></span>
            </button>

        </fieldset>

    </div>

</form>


{% include "./js.html" %}

<script>

    function init() {
        dateInputsInit()
    }

    document.addEventListener('DOMContentLoaded', init)
</script>

<script id="htmx-script"></script>

{% endblock content %}