{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Agojin') }}</a></h1>
{% endblock %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}


{% block breadcrumbs %}{% endblock %}


{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
</p>

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email" style="margin-bottom: 0.5em">{% translate 'Email address:' %}</label>
            {{ form.email }}
        </div>
        <input type="submit" value="{% translate 'Reset my password' %}"
            style="display: inline-block; margin-top: 1em; margin-left: 0.75em;">
    </fieldset>
</form>

{% endblock %}