aiohttp
channels[daphne]
channels-redis
coloredlogs
django<5
django-stubs
inotify
ipython
lxml
lxml-stubs
mypy
openpyxl
psutil
psycopg2-binary
pycryptodome
pyTelegramBotAPI
pytz
pyyaml
redis
requests
tqdm
types-pytz
types-requests
ujson
watchdog
xlrd
