aiohttp
channels[daphne]
channels-redis
coloredlogs
django<6
django-stubs
inotify
ipython
lxml
lxml-stubs
markdown
mypy
openpyxl
psutil
psycopg2-binary
pycryptodome
pyTelegramBotAPI
pytz
pyyaml
redis
requests
tqdm
types-pytz
types-requests
ujson
watchdog
xlrd
