<div hx-swap-oob="outerHTML" id="calendar-container" hx-get="?htmx=load-calendar&id={{ course_class.id }}"
    hx-trigger="load-calendar from:body">

    <style>
        #calendar-subcontainer {
            --size: 5em;
            display: grid;
            grid-template-columns: repeat(7, var(--size));

            margin-top: 0.5em;
            margin-inline: auto;
            width: max-content;

            .calendar--header,
            .calendar--day {
                border: solid thin #efefef;
                text-align: center;
                height: var(--size);
                padding-top: calc((var(--size) - 1.75em) / 2);
            }

            .calendar--day {

                &.can-edit {
                    cursor: pointer;
                }

                &.has-data {
                    background-color: var(--blue-0);
                }

                &.other-month {
                    color: var(--stone-4);
                    pointer-events: none;
                }
            }
        }
    </style>

    <div class="d-flex">

        <span class="">
            {% if prev_month %}
            <button class="btn btn-sm fs-4">&laquo;</button>
            {% endif %}
        </span>

        <span class=" fw-bold ms-auto">{{ calendar_month | date:"F Y" }}</span>

        <span class="ms-auto">
            {% if next_month %}
            <button class="btn btn-sm fs-4">&raquo;</button>
            {% endif %}
        </span>

    </div>

    <div id="calendar-subcontainer">

        <div class="calendar--header">Sun</div>
        <div class="calendar--header">Mon</div>
        <div class="calendar--header">Tue</div>
        <div class="calendar--header">Wed</div>
        <div class="calendar--header">Thu</div>
        <div class="calendar--header">Fri</div>
        <div class="calendar--header">Sat</div>

        {% for item in class_schedule %}

        <!-- noformat -->
        <div
            {% if user.instructor == course_class.get_instructor or user.is_superuser %}
            data-bs-toggle="modal" data-bs-target="#modal--class-schedule"
            hx-get="?htmx=modal-class-schedule&course_class={{ course_class.id }}&date={{ item.date | date:'Ymd' }}"
            hx-trigger="open-modal-class-schedule"
            {% endif %}

            class="
                calendar--day
                {% if item.date < course_class.start_date or item.date > course_class.end_date %} other-month {% endif %}
                {% if item.data %} has-data {% endif %}
                {% if user.instructor == course_class.get_instructor or user.is_superuser %} can-edit {% endif %}
            "

            title="{% for item in item.data %}{{ item.time }} {{ item.data.notes }}
{% endfor %}">
        <!-- noformat -->

        {{ item.date.day }}
    </div>

    {% empty %}

    <div>N/A</div>

    {% endfor %}

</div>
</div>