{% load static %}
{% load extra_tags %}

{% with instructor=course_class.get_instructor %}
<details class="course-class-container overflow-x-clip mt-3" open>

    <summary class="{% if course_class.end_date < today %} text-decoration-line-through {% endif %}">

        <span class="text-primary">
            <span class="ms-0">{{ course_class.start_date }}</span>
            <span class="ms-1">-</span>
            <span class="ms-1">{{ course_class.end_date }}</span>
        </span>


        {% if edit_mode %}

        {% if course_class.auto_start %}
        <span class="d-inline-block ms-2" title="Auto-start">@</span>
        {% endif %}

        <span class="badge ms-4
            {% if course_class.status == 'PUBLISHED' %} text-bg-success
            {% elif course_class.status == 'CANCELLED' %} text-bg-danger
            {% else %} text-bg-secondary {% endif %}
        ">{{ course_class.status }}</span>

        {% endif %}

        {% if show_enroll_button %}
        <a href="enroll/{{ course_class.id }}/"
            class="btn btn-sm btn-outline-primary rounded-pill px-3 py-1 ms-4">Enroll</a>
        {% endif %}

        {% if user.instructor == instructor or user.is_superuser %}
        <a href="/class/{{ course_class.id }}/" class="btn btn-outline-primary btn-sm rounded-pill px-3 ms-2">
            Students
        </a>
        {% endif %}

        {% if show_edit_button %}
        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill px-3 py-1 ms-4"
            data-bs-toggle="modal" data-bs-target="#modal--course-class"
            hx-get="?htmx=modal-course-class&course={{ course.id }}&id={{ course_class.id }}"
            hx-trigger="open-modal-course-class">
            Edit
        </button>
        {% endif %}

    </summary>


    <div class="course-class-details ps-3">

        <div class="course-class--notes">{{ course_class.notes | from_markdown }}</div>

        <details>
            <summary>
                <span class="course-info--label grid-column-1">Venue:</span>
                <span class="fw-medium">{{ course_class.get_facility.name }}</span>
            </summary>

            <div class="mt-2">
                {{  course_class.get_facility.address | from_markdown }}
            </div>
            </span>
        </details>


        <details class="mt-2">
            <summary>
                <span class="course-info--label">Instructor</span>
                <span class="fw-medium">{{ instructor.user.get_full_name }}</span>
            </summary>

            <div class="course-instructor-bio-container clearfix mt-2">

                {% if instructor.photo %}
                <img class="instructor-photo float-end ms-3 mb-2" src="{% get_media_prefix %}{{ instructor.photo }}"
                    alt="{{ instructor.user.get_full_name }}" />
                {% endif %}

                <div class="pe-3">{{ instructor.bio | from_markdown }}</div>

            </div>

        </details>


        <details class="mt-2" open>

            <summary>
                <span class="course-info--label">Schedule</span>
            </summary>

            <div class="course-schedule-container mt-2">
                <div id="calendar-container" hx-get="?htmx=class-schedule&id={{ course_class.id }}" hx-trigger="load">
                </div>
            </div>

        </details>

        <div class="display-grid mt-3" style="--columns: 3">
            <div>
                <span class="course-info--label">Course fee</span>
                <span class="course-info--data ms-2">${{ course_class.get_course_fee }}</span>
            </div>

            <div>
                <span class="course-info--label">Min students</span>
                <span class="course-info--data ms-2">{{  course_class.get_min_students }}</span>
            </div>

            <div>
                <span class="course-info--label">Max students</span>
                <span class="course-info--data ms-2">{{ course_class.get_max_students }}</span>
            </div>
        </div>

    </div>

    <hr />

</details>
{% endwith %}