{% load static %}
{% load extra_tags %}

<details class="course-class-container overflow-x-clip mt-3" open>

    <summary>
        <span class="fw-bold">
            <span class="ms-0">{{ course_class.start_date }}</span>
            <span class="ms-1">-</span>
            <span class="ms-1">{{ course_class.end_date }}</span>
        </span>

        {% if course_class.auto_start %}
        <span class="d-inline-block ms-2" title="Auto-start">@</span>
        {% endif %}

        {% if edit_mode %}
        <span class="badge ms-4
            {% if course_class.status == 'PUBLISHED' %} text-bg-success
            {% elif course_class.status == 'CANCELLED' %} text-bg-danger
            {% else %} text-bg-secondary {% endif %}
        ">{{ course_class.status }}</span>
        {% endif %}

        {% if show_enroll_button %}
        <a href="enroll/{{ course_class.id }}/"
            class="btn btn-sm btn-outline-primary rounded-pill px-3 py-1 ms-4">Enroll</a>
        {% endif %}

        {% if show_edit_button %}
        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill px-3 py-1 ms-4"
            data-bs-toggle="modal" data-bs-target="#modal--course-class"
            hx-get="?htmx=modal-course-class&course={{ course.id }}&id={{ course_class.id }}"
            hx-trigger="open-modal-course-class">
            Edit
        </button>
        {% endif %}

    </summary>

    <div class="course-class-details ps-3">

        <div class="display-grid mt-2" style="--columns: 3">
            <div>
                <span class="course-info--label ps-3">Course fee</span>
                <span class="course-info--data">${{ course_class.get_course_fee }}</span>
            </div>

            <div>
                <span class="course-info--label">Min students</span>
                <span class="course-info--data">{{  course_class.get_min_students }}</span>
            </div>

            <div>
                <span class="course-info--label">Max students</span>
                <span class="course-info--data">{{ course_class.get_max_students }}</span>
            </div>
        </div>

        <details class="mt-2">
            <summary>
                <span class="course-info--label grid-column-1">Venue:</span>
                <span class="fw-bold">{{ course_class.get_facility.name }}</span>
            </summary>

            <div class="mt-2">
                {{  course_class.get_facility.address | from_markdown }}
            </div>
            </span>
        </details>

        <details class="mt-2">
            <summary>
                <span class="course-info--label">Instructor</span>
                <span class="fw-bold">{{ course_class.get_instructor.user.get_full_name }}</span>
            </summary>

            {% with instructor=course_class.get_instructor %}

            <div class="course-instructor-bio-container mt-2">

                {% if instructor.photo %}
                <img class="instructor-photo float-end ms-3 mb-2" src="{% get_media_prefix %}{{ instructor.photo }}"
                    alt="{{ instructor.user.get_full_name }}" />
                {% endif %}

                <div class="pe-3">{{ instructor.bio | from_markdown }}</div>

            </div>

            {% endwith %}

        </details>
    </div>

    <hr />

</details>