{% extends "agojin/base/index.html" %}


{% block content %}

{% include "./css.html" %}
{% include "./modal_class_schedule/index.html" %}


<div class="container">

    <div id="page-content" class="fs-5 pb-5">

        <section class="d-flex pt-3">

            <a href="/?tab=courses" class="text-dark" title="Back" tabindex="-1">&xlarr;</a>

            {% if user.instructor.id == course.instructor_id or user.is_superuser%}
            <a href="edit/" type="button" class="btn btn-outline-primary btn-sm px-3 ms-auto">
                Edit
            </a>
            {% endif %}

        </section>


        <section>
            {% include "./description.html" %}
        </section>


        <section id="course-classes-container" class="mt-5 pb-5">

            <h5 class="fw-bold">Classes</h5>
            <hr />

            {% for course_class in course.upcoming_classes %}

            {% include "./course_class.html" with show_enroll_button=True %}

            {% empty %}

            <div>No classes available yet. Coming soon</div>

            {% endfor %}

        </section>

    </div>

</div>
{% endblock content %}