{% extends "taiping/base.html" %}


{% block content %}
<style>
    #page-content {
        max-width: 75ch;
        min-height: 100vh;
        margin-inline: auto;
        padding: 0 3em 2em;
        line-height: 1.6em;
        color: var(--stone-10);
        background-color: white;
    }

    #course-classes-container {
        overflow-x: hidden;
    }

    .course-class-details {
        margin-top: 0.5em;

        .course-info--label {
            color: var(--stone-7);
            font-size: smaller;

            &::after {
                content: ":";
            }
        }

        .course-info--data {
            text-align: left;
        }

        .instructor-photo {
            max-width: 50%;
        }

    }


    @media (max-width: 800px) {
        #page-content {
            grid-template-columns: 1fr;
        }

        #form-section {
            padding-inline: 3em;
        }
    }
</style>


<div class="container">

    <div id="page-content" class="fs-5">

        <section class="d-flex pt-3">

            <a href="/?tab=courses" class="text-dark" title="Back">&xlarr;</a>

            {% if user.instructor.id == course.instructor_id or user.is_superuser%}
            <a href="edit/" type="button" class="btn btn-outline-primary btn-sm rounded-pill px-3 ms-auto">
                Edit
            </a>
            {% endif %}

        </section>


        <section>
            {% include "./description.html" %}
        </section>


        <section id="course-classes-container" class="mt-5">

            <h5 class="fw-bold">Classes</h5>
            <hr />

            {% for course_class in course.upcoming_classes %}

            {% include "./course_class.html" with show_enroll_button=True %}

            {% empty %}

            <div>No classes available yet.</div>

            <div class="mt-5">Coming soon (when the sun rises from the west).</div>

            {% endfor %}

        </section>

    </div>

</div>
{% endblock content %}