{% extends "taiping//base.html" %}

{% block content %}
<style>
    #page-content {
        max-width: 75ch;
        min-height: 100vh;
        margin-inline: auto;
        padding: 2em 3em;
        /* padding-bottom: 2em; */
        line-height: 1.6em;
        color: var(--stone-10);
        background-color: white;
    }

    @media (max-width: 800px) {
        #page-content {
            grid-template-columns: 1fr;
        }

        #form-section {
            padding-inline: 3em;
        }
    }
</style>


<div class="container" hx-swap="none">

    <div id="page-content" class="fs-5">

        <section>
            {% include "./description.html" %}
        </section>

        <section>
            {% include "./classes.html" %}
        </section>

        <section>
            {% include "./instructor.html" %}
        </section>

    </div>

</div>
{% endblock content %}