<div class="form-group">
    <label class="form-label">Instructor</label>
    <select class="form-select {% if not user.is_superuser %} pe-none {% endif %}" name="instructor_id" required>
        <option></option>

        {% for item in instructors %}
        <option value="{{ item.id }}" {% if not course and item.user_id == user.id %} selected
            {% elif item.id == course.instructor.id %} selected {% endif %}>
            {{ item.user.get_full_name }}
        </option>
        {% endfor %}

    </select>
</div>