<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Agojin</title>
  <meta name="description" content="Agojin is an online platform dedicated to holistic
        learning, offering courses in martial arts, health cultivation and creative arts.
        The platform connects students with experienced instructors, providing structured
        programs that promote physical strength, mental clarity, personal development,
        and cultural knowledge. Agojin supports lifelong learning through accessible,
        high-quality courses designed to enhance wellbeing, self-mastery, and creative
        expression.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet">

  {% include "./style.html" %}
</head>

<body>

  {% include "./header.html" %}
  {% include "./courses.html" %}
  {% include "./instructor.html" %}
  {% include "./student.html" %}
  {% include "./script.html" %}

</body>

</html>