<style>
    #course-description {
        padding: 2em 3em;
        line-height: 1.75em;
    }

    .course--name {
        color: black;

    }

    .course--image {
        width: 100%;
        max-height: 50vh;
    }

    .course-info--label {
        margin-right: 1em;
    }

    .course-info--value {
        font-weight: bold;
    }
</style>


<div id="course-description">
    <h4 class="course--name fw-bold">{{ course.name }}</h4>
    <img class="course--image my-5" src="{{course.static_url | default:course.image}}" alt="" />


    <div>

        <div class="course--description">{{ course.description }}</div>

        <div class="course--next-class mt-5">
            <span class="course-info--label">Date:</span>
            <span class="course-info--value">{{ course.next_class }}</span>
        </div>

        <div class="course--min-students">
            <span class="course-info--label">Minimum students:</span>
            <span class="course-info--value">{{ course.min_students }}</span>
        </div>

        <div class="course--fee">
            <span class="course-info--label">Course fee:</span>
            <span class="course-info--value">${{ course.course_fee }}</span>
        </div>

    </div>

    {% include "./prerequisites.html" %}

</div>