<style>
    #course-description {
        padding: 2em 3em;
        line-height: 1.75em;
    }

    .prerequisites--title {
        color: var(--stone-12);
        text-decoration: underline;
        margin-top: 2em;
    }

    .prerequisite--item {
        display: list-item;
        margin-left: 1em;
    }

    body {
        color: var(--stone-10);
    }

    .course--name {
        color: black;

    }

    .course--image {
        width: 100%;
        max-height: 50vh;
    }

    .course-info--label {
        margin-right: 1em;
    }

    .course-info--value {
        font-weight: bold;
    }
</style>


<div id="course-description">
    <h4 class="course--name fw-bold">{{ course.name }}</h4>
    <img class="course--image my-5" src="{{course.static_url | default:course.image}}" alt="" />


    <div>

        <div class="course--description">{{ course.description }}</div>

        <div class="course--next-class mt-4">
            <span class="course-info--label">Date:</span>
            <span class="course-info--value">{{ course.next_class }}</span>
        </div>

        <div class="course--min-students">
            <span class="course-info--label">Minimum students:</span>
            <span class="course-info--value">{{ course.min_students }}</span>
        </div>

        <div class="course--fee">
            <span class="course-info--label">Course fee:</span>
            <span class="course-info--value">${{ course.course_fee }}</span>
        </div>

    </div>


    {% if course.prerequisites %}

    <h5 class="prerequisites--title">Prerequisites</h5>

    <div id="prerequisites">
        {% for item in course.prerequisites %}
        <div class="prerequisite--item">{{ item.name }}</div>
        {% endfor %}
    </div>

    {% endif %}

</div>