{% extends "taiping/base.html" %}


{% block content %}
<style>
    #page--course-enrolled {
        font-size: 1.25em;
    }

    #unmet-prerequisites {
        color: var(--bs-danger);
        margin: 3em auto;
        font-weight: bold;
        text-wrap: balanced;
        text-wrap: pretty;
        width: 50ch
    }
</style>


<div id="page--course-enrolled" class="container">

    <h4 class="fw-bold mt-5">
        <div>{{ course_class.course.name }}</div>
        <div class="mt-3 mb-5">{{ course_class.course.chinese_name }}</div>
    </h4>

    <div class="mt-3">
        <span>Class: </span>
        <strong>
            <span>{{ course_class.start_date }}</span> -
            <span>{{ course_class.end_date }}</span>
        </strong>
    </div>

    <div class="mt-5">
        Thank you for enrolling for this course. &nbsp;
        Click <a href="/">here</a> to go to your dashboard.
    </div>

</div>

{% endblock content %}