<style>
    .form-title {
        color: var(--stone-12);
    }

    .form-label {
        margin-top: 1.5em;
    }

    .hide {
        display: none;
    }

    .hidden {
        height: 0;
        visibility: hidden;
    }
</style>

<h5 class="form-title mt-5">Taiping Institute Course Registration</h5>


<form method="POST" enctype="multipart/form-data"
    _="on submit remove .hide from .spinner-border then wait 50ms then add .pe-none to .spinner-border">
    <div class="hidden"><button type="submit" disabled>_</button></div>

    <label class="form-label">Email</label>
    <input class="form-control" name="email" type="email" required hx-post="?check-prerequisites" />

    <label class=" form-label">Name</label>
    <input class="form-control" name="name" required />

    <label class="form-label">Tel</label>
    <input class="form-control" name="tel" type="tel" required />

    <label class="form-label">Comments</label>
    <textarea class="form-control" name="comments" rows="5"></textarea>


    <div class="text-center mt-5">
        <button id="register-button" class="btn btn-primary" type="submit" disabled>
            <span>Register</span>
            <span class="spinner-border spinner-border-sm ms-2 hide"></span>
        </button>
    </div>

    <div id="error-message" class="text-danger text-center mt-5"></div>

    {% csrf_token %}
</form>