{% extends "taiping/base.html" %}


{% block content %}
<style>
    #page--course-registration {
        max-width: 800px;
        font-size: 1.25em;
    }

    #unmet-prerequisites {
        color: var(--bs-danger);
        margin: 3em auto;
        font-weight: bold;
        text-wrap: balanced;
        text-wrap: pretty;
        width: 50ch
    }
</style>


<div id="page--course-registration" class="container" hx-swap="none">

    <h4 class="text-center fw-bold mt-5">
        <div>{{ course.name }}</div>
        <div class="mt-3">{{ course.chinese_name }}</div>
    </h4>

    {% if met_prerequisites %}


    <div id="course-class-details" hx-get="?htmx=course-class-details" hx-trigger="load"></div>

    {% else %}
    {% include "./prerequisites.html" %}
    {% endif %}

    {% if met_prerequisites %}
    {% include "./payment.html" %}
    {% endif %}

</div>
{% endblock content %}