<h1 class="text-center fw-bold mt-5">Payment details...</h1>

<button type="button" class="btn btn-primary mx-auto d-block my-5">
    <i class="fa-solid fa-credit-card"></i> Pay now
</button>

<p class="text-center fs-smaller text-muted">
    <i class="fa-solid fa-lock"></i> Your payment is secure and encrypted.
</p>

<p class="text-center fs-smaller text-muted">
    <i class="fa-solid fa-info-circle"></i> If you have any questions, please contact us at
    <a href="mailto:taipinginstitute@gmail.com">taipinginstitute@gmail.com</a>
</p>