<div hx-swap-oob="true" id="prequisites-container">

    <style>
        .prerequisites--title {
            color: var(--stone-12);
            text-decoration: underline;
            margin-top: 2em;
        }

        .prerequisite--item {
            display: list-item;
            margin-left: 1em;
        }
    </style>

    {% if prerequisites %}

    <h5 class="prerequisites--title">Prerequisites</h5>

    <div id="prerequisites">
        {% for item in prerequisites %}
        <div class="prerequisite--item">
            <a href="/register/{{ item.id }}">{{ item.name }}</a>
            {% if item.completed %}
            <span class="text-success fw-bold fs-3 ms-2">&check;</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% endif %}



    <script>
        //  {% if all_completed %}
        var isDisabled = false
        //  {% else %}
        var isDisabled = true
        //  {% endif  %}
        var btn = document.querySelector('#register-button')
        if (btn) {
            btn.disabled = isDisabled
        }

        var msgDiv = document.querySelector('#error-message')
        if (msgDiv) {
            msgDiv.innerHTML = '{{ error_message }}'
        }
    </script>

</div>