{% extends "taiping//base.html" %}

{% block content %}
<style>
    #page-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2em;
    }

    @media (max-width: 800px) {
        #page-content {
            grid-template-columns: 1fr;
        }

        #form-section {
            padding-inline: 3em;
        }
    }
</style>


<div class="container" hx-swap="none">


    <div id="page-content" class="fs-5">

        <section>
            {% include "./description.html" %}
        </section>

        <section id="form-section">
            {% include "./form.html" %}
        </section>

    </div>

</div>
{% endblock content %}